<h1>Editing Recipe</h1>

<%= render 'form' %>
<div class="links">
	<p>
    <%= link_to 'Show', @recipe, class: "label label-primary" %> |
    <%= link_to 'Back', recipes_path, class: "label label-default" %>
  </p>
</div>
